*.log
.env

# Vim
*.swo
*.swp

# Node
node_modules/

# TypeScript
build/

# tests
coverage/

# Yarn
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
